body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  header {
    background-color: #0a0707;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 190px;
}
.header-info {
    display: flex;
}
  
header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s ease;
  }
  
  header nav ul li a:hover {
    color: #666;
  }
  
  .section {
    padding: 50px 0;
    position: relative;
    top: 186px;
}
section#home {
    display: flex;
    padding: 50px 0;
    position: relative;
    top: 220px;
    background: #0a0808d4;
    color: white;
}
section#education {
    
  display: none;
    padding: 50px 0;
    position: relative;
    top: 220px;
    background: #0a0808d4;
    color: white;
}
section#About {
    display: none;
    padding: 50px 0;
    position: relative;
    top: 220px;
    background: #0a0808d4;
    color: white;
}
section#contact {
    display: none;
    padding: 50px 0;
    position: relative;
    top: 220px;
    background: #0a0808d4;
    color: white;;
}
section#experience {
    
  display: none;
    padding: 50px 0;
    position: relative;
    top: 220px;
    background: #0a0808d4;
    color: white;
}


  
  .container h2 {
    text-align: center;
  }
  
  .container p {
    text-align: center;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 220px;
}
  
  footer p {
    margin: 0;
  }
  .profile-picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 21px;
    margin-left: 27px;
}
.name-title {
    display: block;
    margin-top: 45px;
    margin-left: 234px;

        font-size: 22px;
}

.name-title h1 {
  margin: 0;
}

.name-title p {
  margin: 5px 0 0;
  margin-top: 10px;
  color: #666;
}
img#img-1 {
    position: relative;
    width: 160px;
    left: 970px;
    border-top: 3px solid rgb(0, 0, 0); 
  border-bottom: 3px solid rgb(0, 0, 0);
      padding: 10px 10px 10px 10px;

}
/*img#img-1::after{
  content: '';
  position: relative;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid black;
    border-right: 10px solid black;
  right: 20px;
  bottom: -40px;
}*/
h1#h1-1 {
    position: relative;
    top: -217px;
    text-align: center;
    text-decoration: underline;
    right: 60px;
    font-size: 32px;
  }
  h1#h1-2{
    position: relative;
    top: -327px;
    text-align: center;
    text-decoration: underline;
    right: 60px;
    font-size: 32px;
  }
  

h1#h1-3 {
    position: relative;
    top: -281px;
    text-align: start;
    text-decoration: underline;
    /* right: 60px; */
    font-size: 32px;
}

  p#p-1 {
    position: relative;
    width: 952px;
    top: -210px;
    left: 30px;
    font-size: 20px;
}
.logos img{
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.logos {
    position: relative;
    top: -120px;
    text-align: center;
}
.logos-2 {
    position: relative;
    top: -120px;
    text-align: center;
}
.logos-2 img{
  
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
img#img-2 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    left: 970px;
    border-bottom: 3px solid black;
    padding: 10px;
    border-top: 3px solid black;
}
img#img-3 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: 120px;
    left: 970px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
img#img-4 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: 60px;
    width: 20%;
    left: 925px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}

img#img-5 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -158px;
    width: 20%;
    left: 925px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
img#img-6 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -320px;
    width: 20%;
    left: 925px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
img#img-7 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -585px;
    width: 20%;
    left: 925px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-2{
    position: relative;
    width: 926px;
    top: -290px;
    left: 30px;
    font-size: 20px;
}
p#p-6 {
    position: relative;
    width: 955px;
    top: -4px;
    left: 30px;
    font-size: 26px;
}
p#p-7 {
    position: relative;
    width: 839px;
    top: -126px;
    left: 86px;
    font-size: 26px;
}
p#p-8 {
    position: relative;
    width: 839px;
    top: -400px;
    left: 86px;
    font-size: 26px;
}
p#p-9 {
    position: relative;
    width: 839px;
    top: -540px;
    left: 86px;
    font-size: 26px;
}
p#p-10 {
    position: relative;
    width: 839px;
    top: -830px;
    left: 86px;
    font-size: 26px;
}
p#p-5 {
    position: relative;
    width: 100%;
    /* left: 30px; */
    font-size: 25px;
    text-align: center;
}
h3#h3-1 {
    position: relative;
    top: -284px;
    left: 123px;
    text-decoration: underline;
    width: 300px;
}
h3#h3-2 {
    position: relative;
    top: -272px;
    text-decoration: underline;
}
p#p-4 {
    position: relative;
    top: -285px;
    font-size: 20px;
    left: 60px;
}
p#p-3 {
    position: relative;
   top: -297px;
    left: 34px;
    font-size: 20px;
}
h4#h4-1 {
    width: 106px;
    position: relative;
    top: -278px;
    text-align: center;
    left: 341px;
}
h5 {
    position: relative;
    top: -317px;
    left: 451px;
    width: 300px;
}
h3#h3-3 {
    text-decoration: underline;
    position: relative;
    top: -311px;
}
h2#h2-1 {
    text-decoration: underline;
    position: relative;
    top: -25px;
    right: 50px;
}
h2#h2-2 {
    text-decoration: underline;
    position: relative;
    right: 50px;
    top: -118px;
}
h2#h2-3 {
    text-decoration: underline;
    position: relative;
    right: 50px;
    top: -98px;
}
h2#h2-4 {
    text-decoration: underline;
    position: relative;
    right: 50px;
    top: -530px;
}
h2#h2-5 {
    text-decoration: underline;
    position: relative;
    right: 50px;
    top: -530px;
}
h1#h1-4 {
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
}

h3#h3-4 {
    position: relative;
    top: -320px;
    width: 100px;
}
h3#h3-5 {
    position: relative;
    top: -321px;
    width: 100px;
}
span#spa-1 {
    position: relative;
    word-spacing: 300px;
    top: -315px;
    font-size: 20px;
    left: 200px;
}
span#spa-2 {
    position: relative;
    word-spacing: 311px;
    top: -400px;
    left: 208px;
}
span#spa-3 {
    position: relative;
    word-spacing: 311px;
    top: -371px;
    left: 208px;
}
ul#list-1 {
    position: relative;
    top: -240px;
    left: 249px;
    width: 677px;
}
ul#list-2 {
    position: relative;
    font-size: 20px;
    top: -389px;
}
ul#list-3 {
    position: relative;
    font-size: 20px;
    top: -540px;
}
ul#list-4 {
    position: relative;
    font-size: 20px;
    top: -830px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
div#table-container {
    position: relative;
    top: -270px;
}
div#exp-1 {
    position: relative;
    top: 25px;
}
div#exp-2 {
    position: relative;
    top: 50px;
}
div#exp-3 {
    position: relative;
    top: 70px;
}
div#exp-4 {
    position: relative;
    top: 90px;
}
h2#h2-6 {
    text-decoration: underline;
    text-align: center;
    position: relative;
    top: -150px;
}
p#p-11 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    top: -65px;
}
.container-1 {
    background: #282726;
    text-align: center;
    width: 650px;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    left: 330px;
    line-height: 3;
}

/*@media only screen and (max-width: 2560px){

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }
    .container {
        width: 90%;
        line-height: 1.5;
        margin: 0 auto;
        text-align: center;
    }
    section#home {
        display: flex;
        padding: 50px 0;
        position: relative;
        top: 220px;
        background: #0a0808d4;
        color: white;
        text-align: center;
    }
    
p#p-1 {
    position: relative;
    width: 952px;
    top: -210px;
    left: 640px;
    font-size: 20px;
    text-align: center;
}
section#education {
    display: none;
    padding: 50px 0;
    /* position: relative; */
  /*  top: 220px;
    background: #0a0808d4;
    color: white;
    text-align: center;
}

p#p-2 {
    position: relative;
    width: 926px;
    top: -290px;
    left: 615px;
    font-size: 20px;
}
div#exp-2 {
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
}
p#p-6 {
    position: relative;
    width: 955px;
    top: -4px;
    left: 623px;
    font-size: 26px;
}
h2#h2-2 {
    text-decoration: underline;
    position: relative;
    right: 50px;
    top: -240px;
}
p#p-7 {
    position: relative;
    width: 839px;
    top: -235px;
    left: 658px;
    font-size: 26px;
}
ul#list-2 {
    position: relative;
    font-size: 20px;
    top: -518px;
    right: 85px;
}
p#p-8 {
    position: relative;
    width: 839px;
    top: -588px;
    left: 662px;
    font-size: 26px;
}
div#exp-3 {
    position: relative;
    top: 70px;
    text-align: center;
}

h2#h2-4 {
    text-decoration: underline;
    position: relative;
    right: 50px;
    top: -696px;
}


p#p-9 {
    position: relative;
    width: 839px;
    top: -670px;
    left: 623px;
    font-size: 26px;
}


ul#list-3 {
    position: relative;
    font-size: 20px;
    top: -660px;
    right: 131px;
}
div#exp-4 {
    position: relative;
    top: 90px;
    text-align: center;
}
p#p-10 {
    position: relative;
    width: 839px;
    top: -1064px;
    left: 675px;
    font-size: 26px;
}
ul#list-4 {
    position: relative;
    font-size: 20px;
    top: -1057px;
    right: 90px;
}
.container-1 {
    background: #282726;
    text-align: center;
    width: 650px;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    left: 927px;
    line-height: 3;
}
}*/


@media only screen and (max-width: 1024px){
    img#img-1 {
        position: relative;
        width: 160px;
        left: 777px;
        border-top: 3px solid rgb(0, 0, 0);
        border-bottom: 3px solid rgb(0, 0, 0);
        padding: 10px 10px 10px 10px;
    }
    
p#p-1 {
    position: relative;
    width: 760px;
    top: -210px;
    left: 30px;
    font-size: 20px;
}
.container {
    width: 950px;
    margin: 0 auto;
}

img#img-2 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    left: 773px;
    border-bottom: 3px solid black;
    padding: 10px;
    border-top: 3px solid black;
}
p#p-2 {
    position: relative;
    width: 730px;
    top: -290px;
    left: 30px;
    font-size: 20px;
}
h1#h1-3 {
    position: relative;
    top: -281px;
    text-align: start;
    text-decoration: underline;
    /* right: 60px; */
    font-size: 32px;
    width: 300px;
}
p#p-3 {
    position: relative;
    top: -297px;
    left: 250px;
    font-size: 20px;
    width: 700px;
}

ul#list-1 {
    position: relative;
    top: -299px;
    left: 249px;
    width: 677px;
}
h3#h3-2 {
    position: relative;
    top: -272px;
    text-decoration: underline;
    width: 300px;
}
p#p-4 {
    position: relative;
    top: -285px;
    font-size: 20px;
    left: 163px;
    width: 700px;
}

span#spa-1 {
    position: relative;
    word-spacing: 241px;
    top: -315px;
    font-size: 20px;
    left: 200px;
    width: 700px;
}
span#spa-2 {
    position: relative;
    word-spacing: 252px;
    top: -400px;
    left: 208px;
}

img#img-3 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: 120px;
    left: 756px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-1 {
    text-decoration: underline;
    position: relative;
    top: -25px;
    width: 300px;
    text-align: center;
    left: 278px;
}
img#img-4 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: 60px;
    width: 20%;
    left: 749px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-2 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -100px;
    width: 300px;
    left: 285px;
}
p#p-7 {
    position: relative;
    width: 700px;
    top: -97px;
    left: 66px;
    font-size: 26px;
}

img#img-5 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -102px;
    width: 20%;
    left: 749px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-8 {
    position: relative;
    width: 700px;
    top: -291px;
    left: 60px;
    font-size: 26px;
}

ul#list-2 {
    position: relative;
    font-size: 20px;
    top: -300px;
    width: 800px;
}

h2#h2-3 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -45px;
    width: 300px;
    left: 268px;
}

img#img-6 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -231px;
    width: 20%;
    left: 750px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-4 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -423px;
    width: 300px;
    left: 260px;
}

p#p-9 {
    position: relative;
    width: 700px;
    top: -410px;
    left: 50px;
    font-size: 26px;
}
ul#list-3 {
    position: relative;
    font-size: 20px;
    top: -410px;
    width: 900px;
}
img#img-7 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -442px;
    width: 20%;
    left: 749px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-10 {
    position: relative;
    width: 700px;
    top: -645px;
    left: 48px;
    font-size: 26px;
}
ul#list-4 {
    position: relative;
    font-size: 20px;
    top: -654px;
    width: 800px;
}


h2#h2-5 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -383px;
    width: 300px;
    left: 280px;
}

p#p-6 {
    position: relative;
    width: 700px;
    top: -4px;
    left: 57px;
    font-size: 26px;
}
.container-1 {
    background: #282726;
    text-align: center;
    width: 650px;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    left: 192px;
    line-height: 3;
}
span#spa-3 {
    position: relative;
    word-spacing: 252px;
    top: -371px;
    left: 208px;
}
h3#h3-3 {
    text-decoration: underline;
    position: relative;
    top: -311px;
    width: 300px;
}
}
@media only screen and (max-width: 768px) {
    img#img-1 {
        position: relative;
        width: 160px;
        left: 546px;
        border-top: 3px solid rgb(0, 0, 0);
        border-bottom: 3px solid rgb(0, 0, 0);
        padding: 10px 10px 10px 10px;
    }
    header {
        background-color: #0a0707;
        color: #fff;
        padding: 20px 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        height: 200px;
    }
    .name-title {
        display: block;
        margin-top: 35px;
        margin-left: 20px;
        font-size: 22px;
    }
    
    p#p-1 {
        position: relative;
        width: 530px;
        top: -210px;
        left: 30px;
        font-size: 20px;
    }
.logos {
    position: relative;
    top: -120px;
    text-align: center;
    width: 700px;
}
.container {
    width: 700px;
    margin: 0 auto;
}

img#img-2 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    left: 496px;
    border-bottom: 3px solid black;
    padding: 10px;
    border-top: 3px solid black;
}
h1#h1-2 {
    position: relative;
    top: -311px;
    text-align: center;
    text-decoration: underline;
    /* right: 60px; */
    font-size: 28px;
    width: 340px;
    left: 85px;
}
p#p-2 {
    position: relative;
    width: 460px;
    top: -290px;
    left: 30px;
    font-size: 20px;
}
h1#h1-3 {
    position: relative;
    top: -285px;
    text-align: start;
    text-decoration: underline;
    /* right: 60px; */
    font-size: 25px;
    width: 130px;
}
h3#h3-1 {
    position: relative;
    top: -300px;
    left: 88px;
    text-decoration: underline;
    width: 175px;
}
p#p-3 {
    position: relative;
    top: -317px;
    left: 230px;
    font-size: 20px;
    width: 400px;
}

ul#list-1 {
    position: relative;
    top: -295px;
    left: 204px;
    width: 352px;
}
h3#h3-2 {
    position: relative;
    top: -293px;
    text-decoration: underline;
    width: 190px;
}

p#p-4 {
    position: relative;
    top: -306px;
    font-size: 20px;
    left: 159px;
    width: 429px;
}
h4#h4-1 {
    width: 106px;
    position: relative;
    top: -300px;
    text-align: center;
    left: 149px;
}
h5 {
    position: relative;
    top: -338px;
    left: 261px;
    width: 235px;
}

span#spa-1 {
    position: relative;
    word-spacing: 117px;
    top: -315px;
    font-size: 20px;
    left: 200px;
    width: 700px;
}
h3#h3-4 {
    position: relative;
    top: -320px;
    width: 59px;
}
h3#h3-5 {
    position: relative;
    top: -321px;
    width: 85px;
}
span#spa-2 {
    position: relative;
    word-spacing: 127px;
    top: -400px;
    left: 208px;
}

img#img-3 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: 120px;
    left: 515px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-1 {
    text-decoration: underline;
    position: relative;
    top: -14px;
    width: 300px;
    text-align: center;
    left: 140px;
}
img#img-4 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: 60px;
    width: 20%;
    left: 515px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-2 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -73px;
    width: 188px;
    left: 189px;
}
p#p-7 {
    position: relative;
    width: 509px;
    top: -76px;
    left: 9px;
    font-size: 26px;
}

img#img-5 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -102px;
    width: 20%;
    left: 515px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-8 {
    position: relative;
    width: 500px;
    top: -252px;
    left: 18px;
    font-size: 26px;
}

ul#list-2 {
    position: relative;
    font-size: 20px;
    top: -273px;
    width: 500px;
}

h2#h2-3 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -45px;
    width: 300px;
    left: 140px;
}

img#img-6 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -231px;
    width: 20%;
    left: 515px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-4 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -376px;
    width: 171px;
    left: 207px;
}

p#p-9 {
    position: relative;
    width: 500px;
    top: -385px;
    left: 30px;
    font-size: 26px;
}
ul#list-3 {
    position: relative;
    font-size: 18px;
    top: -388px;
    width: 400px;
}
img#img-7 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -442px;
    width: 20%;
    left: 515px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-10 {
    position: relative;
    width: 500px;
    top: -588px;
    left: 25px;
    font-size: 23px;
}

ul#list-4 {
    position: relative;
    font-size: 17px;
    top: -606px;
    width: 400px;
}


h2#h2-5 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -373px;
    width: 166px;
    left: 200px;
}

p#p-6 {
    position: relative;
    width: 500px;
    top: -4px;
    left: 24px;
    font-size: 26px;
}
.container-1 {
    background: #282726;
    text-align: center;
    width: 570px;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    left: 109px;
    line-height: 3;
}
span#spa-3 {
    position: relative;
    word-spacing: 127px;
    top: -371px;
    left: 208px;
}
h3#h3-3 {
    text-decoration: underline;
    position: relative;
    top: -311px;
    width: 140px;
}

  }
@media only screen and (max-width: 425px){
    img#img-1 {
        position: relative;
        width: 160px;
        left: 200px;
        border-top: 3px solid rgb(0, 0, 0);
        border-bottom: 3px solid rgb(0, 0, 0);
        padding: 10px 10px 10px 10px;
        top: -37px;
    }
    header {
        background-color: #0a0707;
        color: #fff;
        padding: 20px 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        height: 180px;
    }
    

    

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-top: 59px;
    width: 351px;
}
    .name-title {
        display: block;
        margin-top: 35px;
        margin-left: 12px;
        font-size: 18px;
    }
    
    p#p-1 {
        position: relative;
        width: 365px;
        top: -172px;
        left: 10px;
        font-size: 20px;
    }
    h1#h1-1 {
        position: relative;
        top: -248px;
        text-align: start;
        text-decoration: underline;
        right: -4px;
        font-size: 37px;
        width: 143px;
    }
    
    .logos {
        position: relative;
        top: -26px;
        text-align: center;
        width: 355px;
        left: 15px;
    }
.container {
    width: 380px;
    margin: 0 auto;
}
.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 4px;
}
div#table-container {
    position: relative;
    top: -270px;
    display: none;
    width: 433px;
}


img#img-2 {
    top: -41px;
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    height: 130px;
    background: transparent;
    left: 260px;
    border-bottom: 3px solid black;
    padding: 10px;
    border-top: 3px solid black;
}
h1#h1-2 {
    position: relative;
    top: -163px;
    text-align: start;
    text-decoration: underline;
    /* right: 60px; */
    font-size: 20px;
    width: 251px;
    left: 12px;
}
p#p-2 {
    position: relative;
    width: 350px;
    top: -96px;
    left: 32px;
    font-size: 23px;
}
h1#h1-3 {
    position: relative;
    top: -149px;
    text-align: start;
    text-decoration: underline;
    /* right: 60px;*/ 
    font-size: 20px;
    width: 95px;
}
h3#h3-1 {
    position: relative;
    top: -165px;
    left: 56px;
    font-size: 17px;
    text-decoration: underline;
    width: 166px;
}
p#p-3 {
    position: relative;
    top: -178px;
    left: 153px;
    font-size: 12px;
    width: 209px;
}

ul#list-1 {
    position: relative;
    top: -182px;
    left: 160px;
    width: 144px;
}
h3#h3-2 {
    position: relative;
    top: -192px;
    text-decoration: underline;
    width: 142px;
    font-size: 14px;
}

p#p-4 {
    position: relative;
    top: -199px;
    font-size: 15px;
    left: 63px;
    width: 307px;
}
h4#h4-1 {
    width: 106px;
    position: relative;
    top: -189px;
    text-align: center;
    left: 100px;
}
h5 {
    position: relative;
    top: -227px;
    left: 213px;
    width: 154px;
}



span#spa-1 {
    position: relative;
    word-spacing: 30px;
    top: -233px;
    font-size: 16px;
    left: 132px;
    width: 700px;
}
h3#h3-4 {
    position: relative;
    top: -243px;
    width: 59px;
}
h3#h3-5 {
    position: relative;
    top: -252px;
    width: 85px;
}
span#spa-2 {
    position: relative;
    word-spacing: 25px;
    top: -321px;
    left: 130px;
}
img#img-3 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -75px;
    left: 38px;
    width: 291px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-1 {
    text-decoration: underline;
    position: relative;
    top: -61px;
    width: 285px;
    text-align: center;
    left: 50px;
}
img#img-4 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -75px;
    left: 38px;
    width: 291px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-2 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -72px;
    /* width: 188px; */
    left: 103px;
}

p#p-7 {
    position: relative;
    width: 360px;
    top: -66px;
    left: 9px;
    font-size: 26px;
}

img#img-5 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -75px;
    left: 38px;
    width: 291px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-8 {
    position: relative;
    width: 360px;
    top: -66px;
    left: 9px;
    font-size: 26px;
}

ul#list-2 {
    position: relative;
    font-size: 18px;
    top: -54px;
    width: 310px;
}

h2#h2-3 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: 306px;
    width: 168px;
    left: 103px;
}

img#img-6 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -75px;
    left: 38px;
    width: 291px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
h2#h2-4 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: -72px;
    width: 171px;
    left: 103px;
}

p#p-9 {
    position: relative;
    width: 360px;
    top: -66px;
    left: 9px;
    font-size: 26px;
}
ul#list-3 {
    position: relative;
    font-size: 18px;
    top: -91px;
    width: 310px;
}
img#img-7 {
    position: relative;
    mix-blend-mode: color-burn;
    object-fit: contain;
    background: transparent;
    top: -154px;
    left: 38px;
    width: 291px;
    border-bottom: 3px solid black;
    padding: 15px;
    border-top: 3px solid black;
}
p#p-10 {
    position: relative;
    width: 360px;
    top: -120px;
    left: 9px;
    font-size: 26px;
}

ul#list-4 {
    position: relative;
    font-size: 17px;
    top: -142px;
    width: 310px;
}


h2#h2-5 {
    text-decoration: underline;
    position: relative;
    /* right: 50px; */
    top: 230px;
    width: 166px;
    left: 103px;
}



p#p-6 {
    position: relative;
    width: 360px;
    top: -66px;
    left: 9px;
    font-size: 26px;
}

.container-1 {
    background: #282726;
    text-align: center;
    width: 360px;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    left: 21px;
    line-height: 3;
}
h2#h2-6 {
    text-decoration: underline;
    text-align: start;
    position: relative;
    top: -173px;
    width: 300px;
}
span#spa-3 {
    position: relative;
    word-spacing: 25px;
    top: -307px;
    left: 126px;
}
h3#h3-3 {
    text-decoration: underline;
    position: relative;
    top: -216px;
    width: 122px;
    font-size: 16px;
}
div#exp-1 {
    position: relative;
    top: -30px;
}
}
 
@media only screen and (max-width: 320px){

}